In [1]:
import dummyMain
nextQ, questionDifficulty, distributions = dummyMain.initialize()

In [5]:
nextQ
import pandas as pd

In [6]:
data = pd.read_csv("data.csv")

In [12]:
Qdata = data.iloc[1000:1010]

In [27]:
type(Qdata.problem.iloc[0])

str

In [28]:
Qdata

,student_id,problem,timestamp,graded,score,sourcehash
1000,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:49:00,1,42.9,e1aa7ef4db489c2feed3e2870aff64371fa2b5a2
1001,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:49:00,1,42.9,a494cc26c7d3e8990abadb8ac2681c5a2690b993
1002,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:50:00,1,42.9,f982b320b2f3d8c2649e3dee1e378b8d7539abcf
1003,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:50:00,1,57.1,c9ff0c8571f77e6f9a5c0c01c2448772c99720e3
1004,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:51:00,1,57.1,48510f13bb5e2df4bb4edb0853c0d4822c9cee12
1005,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:51:00,1,57.1,0491073be0ff1c20f271f40f55fe0667e3fba206
1006,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:51:00,1,85.7,bc3280ae25a79d7dc4619409b97c534cae0938a1
1007,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:52:00,1,100.0,1c7add63660420eec87fcbcf66fb95801aa4963f
1008,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:52:00,1,42.9,a950e7c7471df68b3f49e8365cc7e44698c183ea
1009,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,2021-01-12 14:52:00,1,100.0,ee057f118498ecbee0291104412ede5274bced28

In [16]:
import modelBuilder as mb
qData = mb.convertRawtoClean(Qdata)
# nextQ = mb.nextQuestion(problem, questionDifficulty, distributions, qData)

C:\Users\C22Evan.Marrone\OneDrive - afacademy.af.edu\Desktop\Classes\Capstone\Cap 2.0\Capstone-2.0\Controller\modelBuilder.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"] = pd.to_datetime(df["timestamp"].astype(str))

In [30]:
distributions = pd.read_csv("distributions.csv")

In [36]:
bounds = distributions.loc[distributions.index == 100]
qData.incorrect[0] 
bounds.incorrectLower.values[0]

2.476364908377267

In [40]:
difficulty_values = pd.read_csv('questionDifficulty.csv')

In [38]:
nextQ

'a4_1_lift'

In [42]:
index = difficulty_values.loc[difficulty_values.problem == "a4_1_lift"].index[0]

In [50]:
import numpy as np
questionsFromCurrent = int(np.ceil(len(difficulty_values)*.05))
questionsFromCurrent

20

In [51]:
viableQuestions = difficulty_values[index - questionsFromCurrent: index + questionsFromCurrent]

In [63]:
difficulty_values.loc[difficulty_values.problem == "lsn25_midpoint"]

     Unnamed: 0         problem  difficulty
132         132  lsn25_midpoint    0.068714

In [62]:
difficulty_values.loc[difficulty_values.problem == "a3_7_minpower"]

     Unnamed: 0        problem  difficulty
340         340  a3_7_minpower    0.312289