In [8]:
import initialize
import modelBuilder as mb
import pandas as pd
nextQ, questionDifficulty, distributions = initialize.initialize()
data = pd.read_csv("data.csv")
Qdata = data.iloc[1000:1010]
nextQ = "lsn1_helloworld"
qData = mb.convertRawtoClean(Qdata)

C:\Users\C22Evan.Marrone\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [11]:
nextQ = mb.increaseDifficulty(nextQ, questionDifficulty)
nextQ

'lsn25_crashes'

Order:
1. lsn1_helloworld - get correct first try
2. a3_6_missiletest - get correct first try
3. a1_7_evacuation - get correct first try
4. lsn25_crashes - get 5 completely wrong
5. lsn11_imagesize -get 2 partially wrong
Then maintain will randomly pick a close one, so we can't control the next unless we put in some static code

In [61]:
questionDifficulty[questionDifficulty.problem == 'lsn11_imagesize']
questionDifficulty[questionDifficulty.problem == 'a2_6_grades']

         problem  difficulty
135  a2_6_grades    0.144283

In [60]:
mb.nextQuestion(nextQ, questionDifficulty, distributions, qData)

'a2_6_grades'

In [16]:
lastQ_index = questionDifficulty[questionDifficulty['problem'] == 'a2_6_traffic_lights'].index[0]
questionDifficulty = questionDifficulty.drop([lastQ_index]).reset_index().drop(["index"], axis=1)

In [59]:
qData.hint = 2
qData.incorrect = 0
qData

,stud_id,problem,incorrect,hint,duration
0,a82a958c2ba7a1e17f95665f9af54bef5e1458ac,lsn4_printpractice,0,2,0

In [52]:
nextQ = 'lsn11_imagesize'

In [17]:
questionDifficulty

     Unnamed: 0                    problem  difficulty
0             0              a1_7_sickness    0.000000
1             1             a1_3_satellite    0.000000
2             2                lsn23_paint    0.000000
3             3               a3_2_excuses    0.000000
4             4            a1_4_goldilocks    0.000000
..          ...                        ...         ...
395         395  lsn15_survivors_by_gender    0.725330
396         396                 lsn24_nasa    0.742961
397         397                 Lsn7_lists    0.891572
398         398                 to_the_end    0.913582
399         399                       pex1    1.000000

[400 rows x 3 columns]

In [2]:
mb.nextQuestion(problem, questionDifficulty, distributions, qData)

'a2_4_pipe'

In [4]:
mb.maintainDifficulty(problem, questionDifficulty)

'lsn5_calories'

In [12]:
upperBound = questionDifficulty[questionDifficulty['problem'] == 'a1_2_lessons'].index[0]
lesserDiff = questionDifficulty.iloc[0:upperBound].drop(["Unnamed: 0"], axis=1)

In [18]:
questionDifficulty.iloc[0:upperBound].drop(["Unnamed: 0"], axis=1)

                   problem  difficulty
0            a1_7_sickness         0.0
1           a1_3_satellite         0.0
2              lsn23_paint         0.0
3             a3_2_excuses         0.0
4          a1_4_goldilocks         0.0
5      lsn21_bouncingballs         0.0
6           a1_4_satellite         0.0
7              a1_4_vspeed         0.0
8           a4_5_password          0.0
9               a3_2_bands         0.0
10              a1_5_sound         0.0
11             lsn21_stamp         0.0
12                a1_7_dog         0.0
13          lsn21_triangle         0.0
14              a1_6_paint         0.0
15      lsn22_bouncingball         0.0
16     lsn22_bouncingballs         0.0
17        a1_7_pilot_quals         0.0
18        lsn23_soundboard         0.0
19  lsn22_bouncingtriangle         0.0

In [27]:
questionDifficulty

     Unnamed: 0                    problem  difficulty
0             0              a1_7_sickness    0.000000
1             1             a1_3_satellite    0.000000
2             2                lsn23_paint    0.000000
3             3               a3_2_excuses    0.000000
4             4            a1_4_goldilocks    0.000000
..          ...                        ...         ...
395         395  lsn15_survivors_by_gender    0.725330
396         396                 lsn24_nasa    0.742961
397         397                 Lsn7_lists    0.891572
398         398                 to_the_end    0.913582
399         399                       pex1    1.000000

[400 rows x 3 columns]