In [1]:
import pandas as pd
questionDifficulty = pd.read_csv("questionDifficulty.csv")
# questionDifficulty.drop(["lsn1_helloworld"]).reset_index().drop(["index"], axis=1)

In [10]:
type(int(questionDifficulty.index[questionDifficulty.problem == "lsn23_paint"][0]))

int

In [4]:
questionDifficulty[questionDifficulty["problem"]=="a3_6_missiletest"]

              problem  difficulty
121  a3_6_missiletest    0.122681

In [5]:
questionDifficulty[questionDifficulty["problem"]=="a1_7_evacuation"]

             problem  difficulty
164  a1_7_evacuation    0.187455

In [6]:
questionDifficulty[questionDifficulty["problem"]=="lsn25_crashes"]

           problem  difficulty
193  lsn25_crashes    0.263645

In [7]:
questionDifficulty[questionDifficulty["problem"]=="a2_7_fastest"]

          problem  difficulty
212  a2_7_fastest    0.311134

In [12]:
str("Difficult: " + 0 +" out of ")

TypeError: can only concatenate str (not "int") to str