In [1]:
import pandas as pd
questionDifficulty = pd.read_csv("questionDifficulty.csv")
# questionDifficulty.drop(["lsn1_helloworld"]).reset_index().drop(["index"], axis=1)

In [2]:
questionDifficulty

                       problem  difficulty
0                  lsn23_paint    0.000000
1              a1_4_goldilocks    0.000000
2               a1_4_satellite    0.000000
3                  a1_4_vspeed    0.000000
4                   a3_2_bands    0.000000
..                         ...         ...
248                 lsn19_100m    0.647131
249            lsn24_education    0.659379
250         lsn15_titanicfares    0.672693
251  lsn15_survivors_by_gender    0.725330
252                 lsn24_nasa    0.742961

[253 rows x 2 columns]

In [4]:
questionDifficulty[questionDifficulty["problem"]=="a3_6_missiletest"]

              problem  difficulty
121  a3_6_missiletest    0.122681

In [5]:
questionDifficulty[questionDifficulty["problem"]=="a1_7_evacuation"]

             problem  difficulty
164  a1_7_evacuation    0.187455

In [6]:
questionDifficulty[questionDifficulty["problem"]=="lsn25_crashes"]

           problem  difficulty
193  lsn25_crashes    0.263645

In [7]:
questionDifficulty[questionDifficulty["problem"]=="a2_7_fastest"]

          problem  difficulty
212  a2_7_fastest    0.311134